.hidden {
    visibility: hidden;
}
.visibile {
    visibility: visible;
}

.d_none {
    display: none;
}

.d_b {
display: block;
}

.d_f {
    display: flex;
}

.f_centered {
    justify-content: center;
    align-items: center;
}
.f_space_between {
    justify-content: space-between;
}
.f_space_around {
    justify-content: space-around;
}
