.w_100 {
    width: 100%;
}
.w_50 {
    width: 50%;
}
.w_500 {
    width: 500px;
}

.w_300 {
    width: 300px;
}
.h_100 {
    height: 100%;
}
.h_50 {
    height: 50%;
}
.h_500 {
    height: 500px;
}

.h_300 {
    height: 300px;
}